.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*::before, *::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  margin: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}
body {
  font-family: 'Roboto', sans-serif;
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
