html {
  box-sizing: border-box;
}

li {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  margin: 0;

  display: block;

  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

body {
  font-family: var(--font-family);
}

.link {
  text-decoration: none;
  color: var(--primary-text-color);
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
