.container{
  width: 100%;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 92px;

  margin-left: auto;
  margin-right: auto;

}
@media screen and (min-width: 320px) {
  .container{
      width: 320px; 
  }
}

@media screen and (min-width: 768px) {
  .container{
      width: 768px;

      padding-left:31px ;
      padding-right:31px ;
      padding-bottom: 81px;

  }
}

@media screen and (min-width: 1280px) {
  .container{
      width: 1280px;
      
      padding-left:32px ;
      padding-right:32px ;

      
  }
}