:root {
  --font-family: 'Roboto', sans-serif;

  --primary-text-color: #FFFFFF;
  --black-text-color: #000000;
  --accent-text-color: #FF6B08;
  --footer-text-color: #545454;

  --hero-background: rgba(0, 0, 0, 0.56);;
  --primary-background: #ffffff;
  --footer-background: #F7F7F7;
  --pagination-background: #e7971e;
  
  --color-input: rgb(255, 255, 255, 0.7);
}