<header class="page-header container">
  <div class="page-header_container">
      <a href="./index.html" class="link logo-link">
        <span class="logo-name">Filmoteka</span>
              </a>
    <nav class="nav-list">
      <a href="./index.html" class="nav-library__home link page">Home</a>
      <a href="./library.html" class="nav-library link">my library</a>
    </nav>
  </div>
<div class="container-input">
<div class="input transform">
  <input type="text" name="film-name" class='input-position' id="name" placeholder=" " required>
  <label for="name" class="film-input">Movie search</label>
  <button type="submit" class="button-input"><a href="" class="link svg-link">
    <svg class="find" width="12" height="12">
      <use class="find-svg" href="./img/symbol-defs.svg#icon-search" ></use>
    </svg>
  </a></button>
</div>
</div>
</header>