<header class="page-library container">

  <div class="page-library_container">

    <a href="./index.html" class="link logo-link">
      <span class="logo-name">Filmoteka</span>
    </a>

    <nav class="nav-list">
      <a href="./index.html" class="nav-library__home link">Home</a>
      <a href="./library.html" class="nav-library link page">my library</a>
    </nav>

  </div>

<div class="container-button">
  <button class="button-container__watched">Watched</button>
  <button class="button-container__queu">queue</button>
</div>

</header>