<header class="page-header container">

  <div class="page-header_container">
      <!-- Logo -->
      <a href="./index.html" class="link logo-link">
        <span class="logo-name">Filmoteka</span>
      </a>

      <!-- Navigation -->
      <nav class="nav-group">
        <ul class="nav-list">

          <li class="nav-li nav-home">
            <a href="./index.html" class="nav-link link page">Home</a>
          </li>
          <li class="nav-li">
            <a href="./library.html" class="nav-link nav-library link ">my library</a>
          </li>
        </ul>

      </nav>
  </div>

<div class="container-input">
  <form class="input transform">
    <label class="form__group" >
      <input class="input-position" type="text" name="searchQuery"
      id="name" required placeholder=" ">
      <span class="film-input">Movie search</span>
      <button type="submit" class="button-input">
        <a href="" class="link svg-link">
          <svg class="find" width="12" height="12">
            <use class="find-svg" href="./img/symbol-defs.svg#icon-search" ></use>
          </svg>
        </a>
      </button>
  </label>
  </form>
</div>
</header>