<header class="page-library container">
  <div class="page-library_container">
    <a href="./index.html" class="link logo-link">
<span class="logo-name">Filmoteka</span>
    </a>
    <nav class="nav-group">
      <ul class="nav-list">
        <li class="nav-li nav-home"><a href="./index.html" class="nav-link link ">Home</a></li>
        <li class="nav-li"><a href="./library.html" class="nav-link nav-library link page">my library</a></li>
      </ul>
    </nav>
  </div>
<div class="container-button">
<button class="button button-container__watched">Watched</button>
<button class="button button-container__queu">queue</button>
</div>
</header>