<div class="backdrop-team is-hidden">
    <div class="mdl-win-team">

        <button type="button" class="close-btn-mdl">
            <svg  width='15' height='15'>
                <use class="close-btn-mdl__icon" href="./img/symbol-defs.svg#hide"></use>
            </svg>
        </button>

        <h2 class="title-mdl-team">Our developer team</h2>

        <ul class="list-taem list slider-single">
            <li class="item">

                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/1.png" width="150" height="150" alt="Поліщук Владислав">
                </div>
                
                <!-- Опис члена команди -->
                <h3 class="title-name">Поліщук Владислав</h3>
                <p class="description">Team Lead</p>

                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
                
                    <li class="social__item">
                        <a class="social__link link" href="https://instagram.com/vladislavpolishchuk_?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener noreferrer"
                            aria-label="instagram">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                
                    <li class="social__item">
                        <a class="social__link link" href="https://github.com/vladpolischchuk" target="_blank" rel="noopener noreferrer"
                            aria-label="github">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                
                </ul>
            </li>  
            <li class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/2.jpg" width="150" height="150"
                        alt="Приходько Богдан">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name">Приходько Богдан</h3>
                <p class="description">Developer</p>
            
                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
            
                    <li class="social__item">
                        <a class="social__link link" href="https://www.instagram.com/bohdantp/"
                            target="_blank" rel="noopener noreferrer" aria-label="instagram">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="social__item">
                        <a class="social__link link" href="https://github.com/pickfix" target="_blank"
                            rel="noopener noreferrer" aria-label="github">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
            
                </ul>
            </li>
            <li class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/3.jpg" width="150" height="150"
                        alt="Слободяню Максим">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name">Слободяню Максим</h3>
                <p class="description">Scrum Master</p>
            
                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
            
                    <li class="social__item">
                        <a class="social__link link" href="https://www.instagram.com/maks_sova_" target="_blank"
                            rel="noopener noreferrer" aria-label="instagram">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="social__item">
                        <a class="social__link link" href="https://github.com/maks-sova" target="_blank" rel="noopener noreferrer"
                            aria-label="github">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
            
                </ul>
            </li>
            <li class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/4.jpg" width="150" height="150" alt="Гапонюк Євген">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name">Гапонюк Євген</h3>
                <p class="description">Developer</p>
            
                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
            
                    <li class="social__item">
                        <a class="social__link link" href="https://www.instagram.com/" target="_blank"
                            rel="noopener noreferrer" aria-label="instagram">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="social__item">
                        <a class="social__link link" href="https://github.com/E-gap" target="_blank" rel="noopener noreferrer"
                            aria-label="github">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
            
                </ul>
            </li>
            <li class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/5.jpg" width="150" height="150" alt="Ніколаєнко Наталія">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name">Ніколаєнко Наталія</h3>
                <p class="description">Developer</p>
            
                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
            
                    <li class="social__item">
                        <a class="social__link link" href="https://instagram.com/natalina_nikolaenko?igshid=YmMyMTA2M2Y=" target="_blank" rel="noopener noreferrer"
                            aria-label="instagram">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="social__item">
                        <a class="social__link link" href="https://github.com/Nataliia-Nikolaienko" target="_blank" rel="noopener noreferrer"
                            aria-label="github">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
            
                </ul>
            </li>
            <li class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/6.jpg" width="150" height="150" alt="Мамзер Тетяна">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name">Мамзер Тетяна</h3>
                <p class="description">Developer</p>
            
                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
            
                    <li class="social__item">
                        <a class="social__link link" href="https://instagram.com/_tanushechka_love_?igshid=NTdlMDg3MTY="
                            target="_blank" rel="noopener noreferrer" aria-label="instagram">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="social__item">
                        <a class="social__link link" href="https://github.com/TetianaMamzer" target="_blank"
                            rel="noopener noreferrer" aria-label="github">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
            
                </ul>
            </li>
            <li class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/7.jpg" width="150" height="150" alt="Моткова Катерина">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name">Моткова Катерина</h3>
                <p class="description">Developer</p>
        
                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
            
                    <li class="social__item">
                        <a class="social__link link" href="https://www.instagram.com/motkova_katerina/"
                            target="_blank" rel="noopener noreferrer" aria-label="instagram">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="social__item">
                        <a class="social__link link" href="https://github.com/MotkovaKateryna" target="_blank"
                            rel="noopener noreferrer" aria-label="github">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
            
                </ul>
            </li>
            <li class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/8.jpg" width="150" height="150" alt="Чернова Ольга">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name">Чернова Ольга</h3>
                <p class="description">Developer</p>
            
                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
            
                    <li class="social__item">
                        <a class="social__link link" href="https://instagram.com/olichernova?igshid=NTdlMDg3MTY=" target="_blank"
                            rel="noopener noreferrer" aria-label="instagram">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="social__item">
                        <a class="social__link link" href="https://github.com/Olga1Chernova" target="_blank"
                            rel="noopener noreferrer" aria-label="github">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
            
                </ul>
            </li>

            <li class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/9.jpg" width="150" height="150" alt="Карлушина Олеся">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name">Карлушина Олеся</h3>
                <p class="description">Developer</p>
            
                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
            
                    <li class="social__item">
                        <a class="social__link link" href="https://instagram.com/light.fm?igshid=YmMyMTA2M2Y=" target="_blank"
                            rel="noopener noreferrer" aria-label="instagram">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="social__item">
                        <a class="social__link link" href="https://github.com/Karlushyna" target="_blank"
                            rel="noopener noreferrer" aria-label="github">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
            
                </ul>
            </li>

            <li class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/10.jpg" width="150" height="150" alt="Аліменко Іван">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name">Аліменко Іван</h3>
                <p class="description">Developer</p>
            
                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
            
                    <li class="social__item">
                        <a class="social__link link" href="https://instagram.com/olichernova?igshid=NTdlMDg3MTY=" target="_blank"
                            rel="noopener noreferrer" aria-label="instagram">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="social__item">
                        <a class="social__link link" href="https://github.com/GitGoIT" target="_blank" rel="noopener noreferrer"
                            aria-label="github">
                            <svg width="44" height="44" class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
            
                </ul>
            </li>


        </ul>

        <ul class="list-taem list slider-nav">
            <li id="item" class="item">
        
                <!-- Фото чена команди -->
                <div class="wrapper-item wrapper-item__photo">
                    <img class="photo-team " src="./img/our-team/1.png" width="100" height="100"
                        alt="Поліщук Владислав">
                </div>
        
                <!-- Опис члена команди -->
                <h3 class="title-name title-name--size">Поліщук Владислав</h3>
            </li>
            <li id="item" class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item wrapper-item__photo">
                    <img class="photo-team " src="./img/our-team/2.jpg" width="100" height="100"
                        alt="Приходько Богдан">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name title-name--size">Приходько Богдан</h3>
            </li>
            <li id="item" class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item wrapper-item__photo">
                    <img class="photo-team" src="./img/our-team/3.jpg" width="100" height="100"
                        alt="Слободяню Максим">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name title-name--size">Слободяню Максим</h3>
            </li>
            <li id="item" class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item wrapper-item__photo">
                    <img class="photo-team" src="./img/our-team/4.jpg" width="100" height="100" alt="Гапонюк Євген">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name title-name--size">Гапонюк Євген</h3>
            </li>
            <li id="item" class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item wrapper-item__photo">
                    <img class="photo-team" src="./img/our-team/5.jpg" width="100" height="100" alt="Ніколаєнко Наталія">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name title-name--size">Ніколаєнко Наталія</h3>
            </li>
            <li id="item" class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item wrapper-item__photo">
                    <img class="photo-team" src="./img/our-team/6.jpg" width="100" height="100" alt="Мамзер Тетяна">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name title-name--size">Мамзер Тетяна</h3>
            </li>
            
            <li id="item" class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item wrapper-item__photo">
                    <img class="photo-team" src="./img/our-team/7.jpg" width="100" height="100" alt="Моткова Катерина">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name title-name--size">Моткова Катерина</h3>
            </li>
            <li id="item" class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item wrapper-item__photo">
                    <img class="photo-team" src="./img/our-team/8.jpg" width="100" height="100" alt="Чернова Ольга">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name title-name--size">Чернова Ольга</h3>
            </li>
            <li id="item" class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item wrapper-item__photo">
                    <img class="photo-team" src="./img/our-team/9.jpg" width="100" height="100" alt="Карлушина Олеся">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name title-name--size">Карлушина Олеся</h3>
            </li>
            <li id="item" class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item wrapper-item__photo">
                    <img class="photo-team" src="./img/our-team/10.jpg" width="100" height="100" alt="Аліменко Іван">
                </div>
            
                <!-- Опис члена команди -->
                <h3 class="title-name title-name--size">Аліменко Іван</h3>
            </li>

        </ul>


    </div>
</div>