<div class="backdrop is-hidden">
    <div class="mdl-win-team">

        <button type="button" class="close-btn-mdl">
            <svg  width='15' height='15'>
                <use class="close-btn-mdl__icon" href="./img/symbol-defs.svg#hide"></use>
            </svg>
        </button>

        <h2 class="title-mdl-team">Our developer team</h2>

        <ul class="list-taem list">
            <li class="item">

                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/1.png" width="250" height="250" alt="Поліщук Владислав Олександрович">
                </div>
                
                <!-- Опис члена команди -->
                <h3 class="title-name">Поліщук Владислав</h3>
                <p class="description">Team Lead</p>

                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
                
                    <li class="social__item">
                        <a class="social__link link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"
                            aria-label="instagram">
                            <svg class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                
                    <li class="social__item">
                        <a class="social__link link" href="https://twitter.com/?lang=uk" target="_blank" rel="noopener noreferrer"
                            aria-label="twitter">
                            <svg class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                
                </ul>
            </li>

            <li class="item">
            
                <!-- Фото чена команди -->
                <div class="wrapper-item">
                    <img class="photo-team" src="./img/our-team/1.png" width="250" height="250" alt="Поліщук Владислав Олександрович">
                </div>
               
                <!-- Опис члена команди -->
                <h3 class="title-name">Поліщук Владислав</h3>
                <p class="description">Team Lead</p>
            
                <!-- Соціальні мережі члена команди -->
                <ul class="social list">
            
                    <li class="social__item">
                        <a class="social__link link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"
                            aria-label="instagram">
                            <svg class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
            
                    <li class="social__item">
                        <a class="social__link link" href="https://twitter.com/?lang=uk" target="_blank" rel="noopener noreferrer"
                            aria-label="twitter">
                            <svg class="social__icon">
                                <use href="./img/symbol-defs.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
            
                </ul>
            </li>
        </ul>

    </div>
</div>