.container-input {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.form__group {
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-position {
  width: 280px;

  border: none;
  border-bottom: 1px solid var(--color-input);
  background-color: transparent;
  cursor: pointer;
  
  outline: none;
  color: var(--primary-text-color);

  transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    opacity: 0;;
  }
  
}

@media screen and (min-width: 768px) {
  .input-position {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .input-position {
    width: 394px;
  }
}

.film-input {
  position: absolute;
  top: 50%;
  left: 0;


  color: var(--color-input);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
              color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-position:focus + .film-input,
.input-position:not(:placeholder-shown) + .film-input {
    color: var(--primary-text-color);
    transform: translateY(-30px);
    transform-origin: top left;
}

.input-position:focus {
  border-color: var(--primary-text-color);
}

.form__group:hover > .input-position,
.form__group:focus > .input-position,
.form__group:hover > .button-input,
.form__group:hover > .film-input {
    color: var(--primary-text-color);
    border-color: var(--primary-text-color);
}

.button-input {
  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 24px;

  display: flex;
  justify-content: end;
  align-items: center;

  background-color: transparent;
  border: none;
  color: var(--primary-text-color);
  cursor: pointer;


}

.find {  
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-input:hover > .find,
.button-input:focus > .find {
  fill: var(--accent-text-color);
}
