.section-footer {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--footer-background);
}
@media screen and (min-width: 768px) {
  .section-footer {
    display: flex;
    justify-content: center;
  }
}
.footer-text {
  display: flex;

  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--footer-text-color);
}
@media screen and (min-width: 768px) {
  .footer-text {
    font-size: 16px;
    line-height: 19px;
  }
}
.group-name {
  color: var(--footer-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--accent-text-color);
  }
}

.heart {
  fill: var(--accent-text-color);
}

