.page-header {
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      var(--hero-background),
      var(--hero-background)
    ),
    url(../img/header_home/home-background0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .page-header {
    background-image: linear-gradient(
        to right,
        var(--hero-background),
        var(--hero-background)
      ),
      url(../img/header_home/home-background0@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    background-image: linear-gradient(
        to right,
        var(--hero-background),
        var(--hero-background)
      ),
      url(../img/header_home/home-background2.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .page-header {
    background-image: linear-gradient(
        to right,
        var(--hero-background),
        var(--hero-background)
      ),
      url(../img/header_home/home-background2@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    background-image: linear-gradient(
        to right,
        var(--hero-background),
        var(--hero-background)
      ),
      url(../img/header_home/home-background1@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .page-header {
    background-image: linear-gradient(
        to right,
        var(--hero-background),
        var(--hero-background)
      ),
      url(../img/header_home/home-background1@2x.jpg);
  }
}
.page::after {
  content: '';
  display: block;

  width: 100%;
  height: 2px;

  background-color: #ff001b;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: center;
}
.page-header_container {
  display: flex;

  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}
.logo-link {
  display: flex;

  justify-content: center;
  align-items: center;

  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-link::before {
  content: '';
  width: 24px;
  height: 24px;

  background-image: url(../img/logo-film.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.logo-name {
  margin-left: 10px;

  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}
@media screen and (max-width: 769px) {
  .logo-name {
    display: none;
  }
}
.logo-link:focus,
.logo-link:hover {
  color: var(--accent-text-color);
}
.nav-list {
  display: flex;
}
.nav-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  text-transform: uppercase;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  color: var(--accent-text-color);
}
.nav-home {
  margin-right: 40px;
}
